*{
    box-sizing: border-box;
}
img{
    justify-content: center;
}
/* body{
    background-image: url("/final-git-project/cleantech2/main/background/CTSblacknew.png");
    background-size: cover;
    background-position: center;
} */
.border{
    margin: 2px;
}
p{
    font-size: x-large;
    text-align: center;
    color: rgb(255,255,255);
}
.column{
    margin: 40px;
    float:left;
    height: 270px;
    width: 380px;
} 
h1{
    font-size: 320%;
    text-align: justify;
    color: wheat;
}
.right-side{
    float: right;
    margin: 10px;
}
footer{
    font-size: 180%;
    clear: both;
    color: white;
}
.center{
    text-align: center;
}
html { 
    background: url(../cleantech2/main/background/CTSblacknew.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a:visited{
    color: orange;
}
a{
    text-decoration: none;
}