a{
  text-decoration: none;
  color: orange;
}
ul{
  list-style-type: none;
  text-align: justify;
}
div{
  display:grid ;
  text-align: center;
}
.box iframe{
  flex: 0 50%;
  display: flex;
}
.right{
  float: right;
  width: 50%;
}
.left{
  float: left;
  width: 50%;
}
/* body{
  background-image: url(/final-git-project/cleantech2/main/background/CTSblacknew.png);
  background-size: cover;
  background-position: center;
} */
.border{
  padding: 10 px;
}
.right-side{
  float: right;
  margin-right: 5px;
}
h3{
  color: wheat;
}
div{
  color: white;
}
html { 
  background: url(../background/CTSblacknew.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
