nav {
    position: sticky;
    top: 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: yellow;
    margin: 0 25px;
}
a:visited{
    color: orange;
}
a:hover{
    color: lightblue;
    background-color: yellow;
    padding: .5px;
}
.border{
    border: 0.5px solid black ;
    margin: 5px;
    padding: 10 px;

}
body{
    background-image: url("../background/CTSblack.PNg");
    background-size: cover;
    text-align: center
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
section, article{
    color: white;
    height: 150px;;
}
p{
    color: white
}
aside{
    background-image: url();
    background-size: cover;
    height: 306px;
    color: green;

}
footer{
    clear: both;
    color: white;
    background-color: black;
}
.column{
    float:left;
    height: 200px;
    width: 33.33%;
    padding: 10px;
    background-size: cover;
}
h1{
    text-align: justify;
    color: wheat;
}
h4{
    margin: 10px;
    font-size: medium;
}
ul{
    text-align: left;
    color: white;
}