nav {
    position: sticky;
    top: 0;
    text-align: center;
}
img{
    float: right;
}
a{
    text-decoration: none;
    color: yellow;
    margin: 0 25px;
}
a:visited{
    color: orange;
}
a:hover{
    color: lightblue;
    background-color: yellow;
    padding: .5px;
}
.border{
    margin: 5px;
    padding: 10 px;
}
body{
    text-align: center;
}
.left{
    float: left;
    width: 50%;
}
.right{
    float: right;
    width: 50%;
}
section, article{
    color: white;
    height: 150px;;
}
p{
    color: white
}
aside{
    height: 306px;
    color: white;

}
footer{
    clear: both;
    color: white;;
}
.column{
    float:left;
    height: 200px;
    width: 33.33%;
    padding: 10px;
    background-size: cover;
}
h1{
    text-align: justify;
    color: wheat;
}
h4{
    margin: 10px;
    font-size: medium;
}
ul{
    text-align: left;
    color: white;
}
html { 
    background: url(../background/CTSblacknew.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  